<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../../static/image/favicon.ico">
    <meta charset="UTF-8">
    <title>My App</title>
</head>
<body>
    {% if result %}
          <IMG SRC="{{filepath}} " BORDER="1"> Result is {{result}}.<BR>
          <HR>
        {% endif %}
        Upload file<BR>
        <form action = "./" method = "POST"
           enctype = "multipart/form-data">
           <input type = "file" name = "file" />
           <input type = "submit"/>
        </form>
</body>
</html>