<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hit num</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../static/js/app.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/image/favicon.ico">
</head>
<body onload="mam_draw_init();">
    <header class="header">
        <h1 class="site-title">Hit num</h1>
    </header>
    <header class="main">
        <div class="canvas" id="candiv">
            <canvas id="can" width="300px" height="300px"></canvas>
        </div>
        <form action="/" method="POST">
            <div class="button" id="img" name="img" onClick="sendImage();" value="認識">Enter</div>
        </form>
        <div class="answer-sentence" id="answer"></div>
    </header>
    <footer class="footer">
        © 2021 loblium
    </footer>
</body>
</html>